NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=uox9WJdhZb9jM3w58vRwBnnTEUZ0YrJ46KE=
GITHUB_ID=Iv23li7vg7B21234HLy9
GITHUB_SECRET=8ea84c0a234g3c0fd14250bf733c68a9f230c
OPENAI_API_KEY=OPENAI_SECRET_API_KEY